[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
tensorflow = "*"
pandas = "*"
kivy = "*"

[dev-packages]
black = "*"
py-sudoku = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
